/* general CSS */
*, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables */
:root {
    --color-black: #000;
    --color-white: #ffff;
    --color-accent-1: #2C3E50;
    --color-accent-2: #2ECC71;
    --color-accent-3: #F4F4F4;
    --font-h1: 3rem;
    --font-h2: 2.25rem;
    --font-h3: 2rem;
    --font-h6: 1.25rem;
    --font-small: 0.6rem;
    --ff: "Montserrat", sans-serif;
    --box-shadow: rgba(127, 17, 224, 0.25) 0px 7px 29px 0px;
}
body {
    background-color: var(--color-white);
    font-family: var(--ff);
}
.section-padding {
    margin-top: 104px;
}
/* text & headings */
h1,
h2,
h3 {
    margin: 0;
    line-height: 1.1;
    font-weight: 700;
}
h1 {
    font-size: var(--font-h1);
}
h2 {
    font-size: var(--font-h2);
}
h3 {
    font-size: var(--font-h3);
}
.sub-text {
    margin: 0;
    font-size: var(--font-h6);
    line-height: 1.4;
    font-weight: 500;
}
h6 {
    margin: 0;
    font-size: var(--font-h6);
    line-height: 1.4;
}
p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 70ch;
}
.small-text {
    margin: 0;
    font-size: var(--font-small);
    line-height: 1.6;
}
/* buttons */
/* Main btn */
.main-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-accent-1);
    color: #fff;
    text-decoration: none;
    border: 2px solid var(--color-accent-2);
    border-radius: 24px;
    transition: background-color 0.2s ease-in-out;
    font-size: 1rem;
    font-weight: 700;
    font-family: inherit;
  }
  /* Hover effect */
  .main-btn:hover {
    background-color: var(--color-white);
    color: var(--color-accent-2);
    scale: 1.02;
  }

  .sec-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-white);
    color: var(--color-accent-2);
    text-decoration: none;
    border: none;
    border-radius: 24px;
    transition: background-color 0.2s ease;
    font-size: 1rem;
    font-weight: 700;
    font-family: inherit;
  }
  .sec-btn:hover {
    scale: 1.05;
    font-weight: 600;
  }
  
/* hero */
.hero {
    background-color: var(--color-accent-2);
}
.hero h1 {
    color: var(--color-accent-3);
}
.hero .sub-text {
    color: var(--color-accent-3);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* book description */
.book-description .sub-text {
    color: var(--color-accent-2);

}
.book-description h2 {
    color: var(--color-accent-1);
}
.book-description ul {
    line-height: 1.6;
}
.book-description img {
    box-shadow: var(--box-shadow);
    display: block;
    width: 240px;
    height: auto;
    object-fit: cover;
}
/* author bio */
.author-bio h2 {
    color: var(--color-bg);
}
.author-bio img {
    display: block;
    width: 240px;
    height: auto;
    object-fit: cover;
}

/* newsletter */
form {
    font-family: inherit;
}
.newsletter {
    background-color: var(--color-accent-1);
}
.newsletter h2 {
    color: var(--color-accent-2);
}
.newsletter span {
    color: var(--color-white);
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
#username {
    width: 30%;
    margin-right: 8px;
}
#email {
    width: 50%;
}
.email-block {
    width: 50%;
}
/* testimonial JS slider */
.testimonials {
    margin-bottom: 80px;
}
.testimonials h2 {
    color: var(--color-accent-1);
}
.testimonial-item {
    color: var(--color-black);
    background-color: var(--color-accent-3);
    padding: 24px; 
    border-radius: 36px;
}
.testimonial-item img {
    height: 80px;
    width: 80px;
    border: 2px solid var(--color-accent-2);
    border-radius: 50%;
    object-fit: cover;
    vertical-align: top;
}
.testimonial-item .info {
    display: flex;
    align-items: center;
}
.testimonial-item h3 {
    margin: 20px 20px 0;
}
.testimonial-item span {
    margin: 0 20px 0;
    font-style: italic;
}
.testimonials .swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
.testimonials .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: var(--color-accent-1);
}

/* purchase section */
.purchase-link {
    background-color: var(--color-accent-2);
}
.purchase-link h2 {
    color: var(--color-accent-3);
}
.purchase-link p {
    color: var(--color-accent-3);
}
.purchase-link img {
    transform: rotate(20deg);
}

/* footer */
